name: CD - Deploy to Azure VM

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.AZURE_HOST }}
          username: ${{ secrets.AZURE_USER }}
          key: ${{ secrets.AZURE_SSH_KEY }}
          script: |
            set -e
            cd ~/devops-foundation-project
            git pull

            SHA=${{ github.sha }}
            echo "Deploying commit: $SHA"

            docker build -t irrigation-api:$SHA .
            docker tag irrigation-api:$SHA irrigation-api:current

            docker rm -f irrigation-api || true
            docker run -d --name irrigation-api --restart unless-stopped -p 8000:8000 irrigation-api:current

            docker ps
            docker image ls | grep irrigation-api | head -n 10
